* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

li {
  list-style: none;
}
a:link {
  color: #333;
  font-size: 20px;
}

button {
  padding: 10px;
  outline: noen;
  border: none;
  background: lightyellow;
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  overflow: scroll;
}

.routers {
  margin-right: 20px;
  background: lightgreen;
  padding: 20px;
  height: 100%;
}

.demos {
  height: 100%;
  background: lightgray;
  flex-grow: 1;
  padding: 20px;
}
